$main-color: #8fcddc;

@mixin flexAlign ($hor: center, $vert: center, $pos: row) {     // настраиваем позиционирование по умолчанию
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin fontStyle ($color: black, $size: 24px) {
    color: $color;
    font-size: $size;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    height: 57px;
    background: rgba($main-color, .4);
    @include flexAlign;
    position: fixed;
    left: 0;
    top: 0;

    &__content {
        width: 1024px;
        height: 100%;
        @include flexAlign(space-between);

        @media screen and (max-width: 1024px) {    //адаптив
            width: 100%;
            flex-direction: row-reverse;
            box-sizing: border-box;
            padding-right: 20px;                   //адаптив
        }

        .menu {
            width: 57px;
            height: 57px;
            background: rgba(255, 255, 255, 0.5);
            @include flexAlign;
            cursor: pointer;

            &__line {              //& вместо menu
                width: 37px;
                height: 6px;
                background-color: white;
                position: relative;

                &::after {
                    content: ''; //обязательно
                    width: 37px;
                    height: 6px;
                    background-color: white;
                    position: absolute;
                    bottom: 11px;
                    left: 0;
                }

                &::before{
                    content: '';
                    width: 37px;
                    height: 6px;
                    background-color: white;
                    position: absolute;
                    top: 11px;
                    left: 0;
                }
            }
        }
    }
}


.banner {
    width: 100%;
    height: 482px;
    background: url('../images/baner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  //background-position-x: ;background-position-y: ;
    @include flexAlign;

    &__content {
        width: 1024px;
        height: 100%;
        box-sizing: border-box; //из-за падинг
        padding-left: 30px;
        @include flexAlign(flex-start);

        &-form {
            @include flexAlign($pos: column);
            width: 390px;
            text-align: center;

            &-text {
                @include fontStyle(white, 27px);
                //color: white;
                //font-size: 27px;
                margin-bottom: 27px;
            }

            .search {
                width: 100%;
                position: relative;

                &__input {
                    width: 100%;
                    height: 42px;
                    outline: none;    //отключает обводку
                    border: none;     //по умолчанию у инпута серый бордер, убираем
                    @include fontStyle($size: 21px);
                   // font-size: 21px;
                    padding-left: 17px;
                    box-sizing: border-box;

                    &::placeholder {
                        color: #bbbbbb;
                    }
                }

                &__img {
                    width: 27px;
                    position: absolute;
                    top: 8px;
                    right: 7px;
                    z-index: 1;
                }
            }
        }
    }
 
}

.create {
    width: 100%;
    height: 115px;
    @include flexAlign;
    border-bottom: 1px solid #e3e3e3;

    &__text {
        @include fontStyle(#8b8b8b, 37px);
        margin-right: 35px;
    }

    &__button {
        background: $main-color;
        outline: none;
        @include fontStyle(white, 37px);
        font-weight: 100;
        border: none;
        font-family: 'Raleway', sans-serif;
        width: 255px;
        height: 60px;
        user-select: none;
        transition: .4s;

        &:hover {
            background: rgba($main-color, .6);
        }
    }
}

.category {
    padding: 36px 0 70px 0;
    @include flexAlign;

    &__content {
        width: 1024px;
        @include flexAlign($pos: column);

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        &-title {
            font-size: 23px;
            text-transform: uppercase; //заглавные буквы
        }

        &-items {
            @include flexAlign(space-around);
            margin-top: 32px;

            .links {
                margin: 0;
                list-style-type: none; //убирает точки перед

                &__item {
                    padding-bottom: 11px;

                    &:last-child {
                        padding-bottom: 0;
                    }

                    &-link {
                        text-decoration: none; // убирает подчеркивание
                        color: #b9b9b9;
                        font-size: 15px;

                        &:active {
                            color: black; //убирает красный фон от клика по ссылке
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 44px;
    background: #484242;
    @include flexAlign;
    color: #adabab;
    font-size: 17px;
}